.game-board-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-stats-container-div {
    width: 100%;
    height: 110px;
    background-color: #ffb444;
    box-shadow: 0 10px 6px -6px #905112;
    z-index: 1;
    display: flex;
}

.game-header-logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-header-logo img {
    height: 80%;
}

.game-header-text {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.game-header-text img {
    height: 50%;
}

.spacer {
    flex: 1 1 auto;
}

.prova-testo-contorno {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prova-testo-contorno span {
    font-size: 60px;
    font-weight: 700;
    color: black;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(141, 141, 58);
}


.gameplay-container-div {
    width: 100%;
    min-height: calc(100% - 110px);
    background-color: #ffe8c8;
    display: flex;
}

.result-game-container-div {
    width: 30%;
    height: 100%;
    // background-color: rgb(255, 144, 144);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-div {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-face {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-face img {
    width: 80%;
}

.questions-container-div {
    width: 70%;
    height: 100%;
    // background-color: rgb(171, 171, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quest-cont {
    width: 85%;
    height: 90%;
    background-color: #ffe8c8;
}

.questions-movig-button {
    width: 100%;
    height: 10%;
    display: flex;
}

.start-question-button {
    width: 15%;
    font-size: large;
    border-radius: 14px;
    border: 5px solid rgb(30, 84, 219);
    background-color: #aeecff;
    box-shadow: 0px 0px 6px 0px rgb(30, 84, 219);
    cursor: pointer;
}

.next-question-button {
    width: 15%;
    font-size: large;
    border-radius: 14px;
    border: 5px solid rgb(34, 132, 64);
    background-color: #aeffc0;
    box-shadow: 0px 0px 6px 0px #43d66d;
    cursor: pointer;
}

.result-question-button {
    width: 15%;
    font-size: large;
    border-radius: 14px;
    border: 5px solid tomato;
    background-color: rgb(251, 177, 164);
    box-shadow: 0px 0px 6px 0px tomato;
    color: white;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
}

.question-div {
    width: 100%;
    height: 40%;
    color: rgb(107, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 700;
}

.answers-div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.answers-div button {
    width: 80%;
    padding: 10px;
    border: 0;
    background-color: whitesmoke;
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px #000);
}

.result-quiz-text {
    font-size: 60px;
}

.result-quiz-phrase {
    font-size: 20px;
    margin-top: 20px;
}